{% load static %}
{% load formatting %}

<div class="notes__main_block">
	{% if appointment.service.image %}
		<img src="{{ appointment.service.image.url }}" alt="service" class="notes__main_block__img">
	{% else %}
		<img src="{% static fallback_image %}" alt="service" class="notes__main_block__img">
	{% endif %}
	<div class="notes__main_block__elems">
		<div class="notes__main_block__header fic">
			<div class="notes__main_block__header__itesm fic">
				<div class="notes__main_number">Запись №{{ appointment.id }}</div>
				<div class="notes__main_address">{{ appointment.salon.address }}</div>
			</div>
			{% if appointment.is_paid %}
				<div class="notes__main_pay payid">ОПЛАЧЕНО</div>
			{% else %}
				<div class="notes__main_pay unPaid">НЕОПЛАЧЕНО</div>
			{% endif %}
		</div>
		<div class="notes__main_block__main">
			<div class="notes__main_block__main_items">
				<div class="notes__main_block__main_elems fic">
					<div class="notes__main_block__main_elems__intro otes__main_blockWidth">Услуга:</div>
					<div class="notes__main_block__main_elems__intro otes__main_blockWidth">Цена:</div>
				</div>
				<div class="notes__main_block__main_elems fic">
					<div class="notes__main_block__main_elems__name otes__main_blockWidth">{{ appointment.service.title }}</div>
					<div class="notes__main_block__main_elems__price otes__main_blockWidth">{{ appointment.total_price|rub }}</div>
				</div>
			</div>
			<div class="notes__main_block__main_items">
				<div class="notes__main_block__main_elems fic">
					<div class="notes__main_block__main_elems__intro otes__main_blockWidth">Мастер:</div>
					<div class="notes__main_block__main_elems__intro otes__main_blockWidth">Дата и время:</div>
				</div>
				<div class="notes__main_block__main_elems fic">
					<div class="notes__main_block__main_elems__name otes__main_blockWidth">
						{% if appointment.master %}{{ appointment.master.name }}{% else %}Любой мастер{% endif %}
					</div>
					<div class="notes__main_block__main_elems__date otes__main_blockWidth">
						{{ appointment.starts_at|date:"j F" }} - {{ appointment.starts_at|date:"H:i" }}
					</div>
				</div>
			</div>
		</div>
		<hr class="notes__block_hr">
		<div class="notes__footer fic">
			<a href="#" class="notes__footer_link rewiewPopupOpen">Оставить отзыв</a>
			<a href="#" class="notes__footer_link tipsPopupOpen">Чаевые</a>
			{% if appointment.is_upcoming and not appointment.is_paid %}
				<button class="notes__footer_btn payPopupOpen">Оплатить</button>
			{% endif %}
			{% if appointment.is_paid %}
				<div class="notes__main_pay payid">ОПЛАЧЕНО</div>
			{% else %}
				<div class="notes__main_pay unPaid">НЕОПЛАЧЕНО</div>
			{% endif %}
		</div>
	</div>
</div>

