{% load static %}
<div style="display: none;">
    <div class="box-modal confirmPopup popup" id="confirmModal">
        <div class="box-modal_close arcticmodal-close"><img src="{% static 'img/x.svg' %}" alt="x"></div>
        <div class="popup__title confirmPopup__title">Подтвердите номер</div>
        <p class="popup__text confirmPopup__text">Введите код, полученный по SMS на номер +<span id="confirmPhoneText"></span> </p>

        <div class="confirmPopup__error" id="confirmError" style="display: none;"></div>

        <div class="confirmPopup__number" id="otpInputs">
            <input type="text" name="num1" class="tipsPopup__form_inputNum popup__input" inputmode="numeric" maxlength="1" required>
            <input type="text" name="num2" class="tipsPopup__form_inputNum popup__input" inputmode="numeric" maxlength="1" required>
            <input type="text" name="num3" class="tipsPopup__form_inputNum popup__input" inputmode="numeric" maxlength="1" required>
            <input type="text" name="num4" class="tipsPopup__form_inputNum popup__input" inputmode="numeric" maxlength="1" required>

        </div>
        <div class="confirmPopup__sms">
            Если SMS не пришло вы можете <a href="#" class="popup__link" id="otpResendLink">запросить код повторно</a>
        </div>
        <div class="confirmPopup__changeNumber">
            <a href="#" class="confirmPopup__link popup__link" id="otpChangePhoneLink">Изменить номер телефона</a>
        </div>
    </div>
</div>