{% extends 'base.html' %}
{% load static %}

{% block content %}
	<div class="servicePage">
	{% include 'partials/mob_menu.html' %}
	{% include 'partials/header.html' %}
	<section id="service">
		<div class="container">
			<div class="service">
				<div class="breadCrumbs">
					<a href="/" class="breadCrumbs__item">На главную</a>
				</div>
				<div class="service__block">
					<h1 class="service__title">Запись на услугу</h1>
					<button
						class="service__btn btn"
						type="button"
						onclick="window.location.href='tel:+79179023800'"
					>
						Запись по телефону
					</button>
				</div>

				<form action="#" class="service__form">
					<!-- <select name="selectSalon" id="" class="service__form_select">
						<option value="" selected>(Выберите салон)</option>
						<option value="salon1" >Салон 1</option>
						<option value="salon2" >Салон 2</option>
						<option value="salon3" >Салон 3</option>
					</select> -->
					<div class="service__form_block service__salons">
						<button class="accordion">(Выберите салон)</button>
						<div class="panel">
							<div class="accordion__block fic">
								<div class="accordion__block_intro">Загрузка...</div>
							</div>
						</div>
					</div>
					<div class="service__form_block service__services">
						<button class="accordion">(Выберите услугу)</button>
						<div class="panel">
							<div class="accordion__block fic">
								<div class="accordion__block_intro">Сначала выберите салон</div>
							</div>
						</div>
					</div>
					<div class="service__form_block service__masters">
						<button class="accordion">(Выберите мастера)</button>
						<div class="panel">
							<div class="accordion__block fic">
								<div class="accordion__block_intro">Сначала выберите салон</div>
							</div>
						</div>
					</div>

				</form>
			</div>
		</div>
	</section>
	<section id="time">
		<div class="container">
			<div class="time">
				<h2 class="time__title">Выберите время</h2>
				<div class="time__block">
					<div class="row">
						<div class="col-md-4">
							<div id="datepickerHere"></div>
						</div>
						<div class="col-md-8">
							<div class="time__elems">
								<div class="time__items">
									<div class="time__elems_intro">Утро</div>
									<div class="time__elems_elem fic" data-role="slots-morning"></div>
								</div>
								<div class="time__items">
									<div class="time__elems_intro">День</div>
									<div class="time__elems_elem fic" data-role="slots-day"></div>
								</div>
								<div class="time__items">
									<div class="time__elems_intro">Вечер</div>
									<div class="time__elems_elem fic" data-role="slots-evening"></div>
								</div>
							</div>
							<div class="time__noSlots" data-role="slots-empty" style="display:none;"></div>
						</div>
					</div>
				</div>
				<div class="time__btns">
					<div class="row">
						<div class="col-md-12">
							<button  class="time__btns_next">Далее</button>
							<button  class="time__btns_home">На главную</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% include 'partials/footer.html' %}
	</div>
{% endblock %}
